QDialog#LoginDialog, #RegisterDialog{
background-color:rgb(255,255,255)
}

#user_label, #pass_label, #verify_label, #forget_label, #err_tip, #email_label, #confirm_label{
    color:black;
}

#err_tip[state='normal']{
    color:green;
}
#err_tip[state='err']{
    color:red;
}
